{
  "root": true,
  "rules": {
    "object-shorthand": "error",
    "react/self-closing-comp": "error",
    "import/no-anonymous-default-export": "off",
    "no-console": [
      "warn",
      {
        "allow": ["warn", "error"]
      }
    ]
  }
}
